<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Полотенца</title>
</head>
<body>
{% extends 'bb/base.html' %}
{% block page_header %}
    <h3>Полотенца</h3>
{% endblock page_header %}
{% block content %}

<table class="table table-bordered table-hover">
   <thead class="thead-light"><tr><th scope="col">Тип</th><th scope="col">Цвет</th><th scope="col">Размер</th><th scope="col">Остаток</th><th scope="col">Стоимость</th><th scope="col">Стоимость всего</th><th scope="col">Редактировать</th></tr></thead>
    {% for towel in towels %}
            <tr><td>{{ towel.type_name }}</td><td>{{ towel.color }}</td><td>{{ towel.size }}</td>
                <td>{{ towel.quantity }}</td><td>{{ towel.price }}</td><td>{{ towel.price_quantity }}</td><td><p><a href="{% url 'bb:edit_towels' towel.id %}">Редактировать</a></br></br><a href="{% url 'bb:delete_towels' towel.id %}">Удалить</a></p></td></tr>

    {% endfor %}

        <tr><td colspan="3">Всего</td><td>{{ total }}</td><td>{{ avg_price }}</td><td>{{ price_all }}</td><td><p><a href="{% url 'bb:new_towels' %}">Добавить</a></p></td></tr>
</table>

{% endblock content %}
</body>
</html>